<div class="container-fluid">


    <div class="row">
        <% var chapterList = chapters; %>
        <% function labelTime(time) {
            var hh = Math.floor(time / 3600);
            hh = hh < 10 ? '0' + hh : hh;
            var mm = Math.floor((time % 3600) / 60);
            mm = mm < 10 ? '0' + mm : mm;
            var ss = Math.floor((time % 3600) % 60);
            ss = ss < 10 ? '0' + ss : ss;

            return hh+':'+mm+':'+ss;
        } %>
        <div class="col-md-12">

            <div class="chap-line">
                <%
                var chapNum = 0;
                chapterList.forEach(function(chap){
                    chapNum++;
                    var startTime = chap.tStart.value;
                    var endTime = chap.tEnd.value;
                    var tStart = labelTime(startTime);
                    var tEnd = labelTime(endTime);
                %>
                <div class="chap-link" id="<%= chap.chapter.value.replace("http://data.linkedtv.eu/chapter/", "") %>">
                    <h4 class="chap-num"><%= chapNum %></h4>
                    <a  data-start-time="<%= startTime %>" data-end-time="<%= endTime %>">

                        <div class="chap-timing">

                            <h5><span class="glyphicon glyphicon-chevron-left"></span>
                                <%= tStart %> - <%= tEnd %>

                                <span class="glyphicon glyphicon-chevron-right"></span></h5>

                        </div>


                    </a>
                </div>
                <% }) %>
            </div>

        </div>
    </div>

    <div class="chap-label">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="first-part"><%= chapNum %> chapters</span><span class="selected-chap-num"></span><span
                class="last-part"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>

    </div>
</div>