<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-6">
            <hr class="red_rule">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-6">
            <h1 class="title">see also</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form method="get" id="nerd-filter-form" action="/filter_ent/<%= locals.uuid %>">
            <input type="hidden" name="uuid" value="<%= locals.uuid %>">
                <input type="hidden" name="startMF">
                <input type="hidden" name="endMF">
                <button class="btn btn-danger" type="submit">Suggest Chapters</button>
            </form>
            <%
            function labelTime(time) {
                var hh = Math.floor(time / 3600);
                hh = hh < 10 ? '0' + hh : hh;
                var mm = Math.floor((time % 3600) / 60);
                mm = mm < 10 ? '0' + mm : mm;
                var ss = Math.floor((time % 3600) % 60);
                ss = ss < 10 ? '0' + ss : ss;

                return hh + ':' + mm + ':' + ss;
            }
            var videoList = [];
            if (locals.suggestedVids) videoList = locals.suggestedVids;
            %>
            <div id="playlist-sect">
                <ul class="video-list">
                    <% for (var uuid in videoList){ %>
                    <li class="video-link" data-uuid="<%= uuid %>">
                        <div class="content">
                            <%
                                var meta = videoList[uuid].metadata;
                                var title, thumb;
                                if (videoList[uuid].metadata && videoList[uuid].metadata != 'undefined') {
                                    title = meta.title;
                                    thumb = meta.thumb;
                                } else {
                                    title = "Video"
                                    thumb = "../img/thumb-default.png"
                                }
                            %>
                            <h4 class="playlist_title"><a href="/video/<%= uuid %>" alt="<%= title %>"><%= title %></a>
                            </h4>
                            <a class="thumb-cont" href="/video/<%= uuid %>" title="<%= title %>"><img src="<%= thumb %>"
                                                                                                      class="thumb"></a>
                            <ul class="frag-list">

                                <%
                                    var frags = videoList[uuid].chaps;
                                        for (var f in frags){
                                %>
                                <li class="frag-link">
                                    <a href='/video/<%= uuid %>#t=<%= frags[f].startNPT %>,<%= frags[f].endNPT %>'>Chapter <%= frags[f].chapNum %>
                                        <br/>(<%= labelTime(frags[f].startNPT) %> - <%= labelTime(frags[f].endNPT) %>
                                        )</a>
                                </li>
                                <% } %>
                            </ul>
                        </div>

                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>