<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-6">
            <hr class="red_rule">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-6">
            <h1 class="title">see also</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <form method="get" id="nerd-filter-form" action="/filter_ent/<%= uuid %>">
            <input type="hidden" name="uuid" value="<%= locals.uuid %>">
                <input type="hidden" name="startMF">
                <input type="hidden" name="endMF">
                <button class="btn btn-danger" type="submit">Filter Entities</button>
            </form>
            <%
            var videoList = [

            ];
            %>
            <div id="playlist-sect">
                <ul class="video-list">
                    <% videoList.forEach(function(v){ %>
                    <li class="video-link" data-uuid="<%= v.uuid %>">
                        <img class="loader" src="/img/ajax-loader.gif">

                        <div class="content">
                            <h4><a href="/video/<%= v.uuid %>"></a></h4>
                            <a class="thumb-cont" href="/video/<%= v.uuid %>"></a>
                            <ul class="frag-list">
                                <% v.frags.forEach(function(frag){ %>
                                <li class="frag-link">
                                    <a href='/video/<%= v.uuid %> <%= frag.hash %>'><%= frag.title %>
                                        <br/>(<%= frag.timing %>)</a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>