<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-6">
            <hr class="red_rule">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-6">
            <h1 class="title">see also</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%
            var videoList = [
                {
                    uuid: '1d073526-a0c6-482e-b125-9b5096bd2576',
                    frags: [
                        {
                            title: 'Wikipedia VS New York Times',
                            timing: '0:03:08 - 0:04:05',
                            hash: '#t=0:03:08,0:04:05'
                        },
                        {
                            title: "Semi-professional people",
                            timing: '0:10:44 - 0:11:00',
                            hash: '#t=0:10:44,0:11:00&xywh=pixel:160,35,319,250'
                        }
                    ]
                },
                {
                    uuid: '4d0a4676-5730-4c9a-bfc2-b37d7f193694',
                    frags: [
                        {
                            title: 'Why did I join the Army?',
                            timing: '0:00:18 - 0:00:57',
                            hash: '#t=0:00:18,0:00:57'
                        },
                        {
                            title: "Thank you for your service",
                            timing: '0:07:32 - 0:08:08',
                            hash: '#t=0:07:32,0:08:08'
                        }
                    ]
                },
                {
                    uuid: '7812c211-51c7-4c51-8652-5893b457f84d',
                    frags: [
                        {
                            title: 'What are your favorite songs?',
                            timing: '0:05:20 - 0:05:32',
                            hash: '#t=0:05:20,0:05:32'
                        },
                        {
                            title: "Fragment",
                            timing: '0:13:10 - 0:16:10',
                            hash: '#t=0:13:10,0:16:10'
                        }
                    ]
                },
                {
                    uuid: 'e036318a-f5df-4148-9c82-395d10c3db2a',
                    frags: [
                        {
                            title: "Ancient art",
                            timing: '0:01:42,0:03:49',
                            hash: '#t=0:01:42,0:03:49'
                        },
                        {
                            title: "Art reviewer's explaination",
                            timing: '0:41:55,0:45:00',
                            hash: '#t=0:41:55,0:45:00'
                        }
                    ]
                }
            ];
            %>
            <div id="playlist-sect">
                <ul class="video-list">
                    <% videoList.forEach(function(v){ %>
                    <li class="video-link" data-uuid="<%= v.uuid %>">
                        <img class="loader" src="/img/ajax-loader.gif">

                        <div class="content">
                            <h4><a href="/video/<%= v.uuid %>"></a></h4>
                            <a class="thumb-cont" href="/video/<%= v.uuid %>"></a>
                            <ul class="frag-list">
                                <% v.frags.forEach(function(frag){ %>
                                <li class="frag-link">
                                    <a href='/video/<%= v.uuid %> <%= frag.hash %>'><%= frag.title %>
                                        <br/>(<%= frag.timing %>)</a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>