<div class="sub-text <% if (locals.enriched) { %>enriched<% } %>">
    <%
    var subList = locals.subtitles;
console.log(subList);
    var newChap = locals.chapters || false;
            subList.forEach(function(sub){
        if (!sub.id) {
            return;
        }
            if (newChap) {
        newChap = false;
    %>
    <div class="subChapGroup" <%= sub.dataChap %>>
        <p class="chap-title">chapter <%= sub.chapNum %></p>
        <%
        }
        %>
        <p id="sub<%= sub.id %>" data-time="<%= sub.time %>" data-startSS="<%= sub.startSS %>"
           data-endSS="<%= sub.endSS %>" <%= sub.dataChap || "" %>><%- sub.text %></p>
        <%
        if(sub.endChap){
            newChap = true;
        %>
    </div>
    <%
    }
    }); %>
</div>