<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Media Fragment Player Demo</title>
    <link rel="icon" type="image/ico" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/smfplayer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>

<body>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">Media Fragment Enricher</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/video" id="video-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="uri" type="url" placeholder="Insert a Media Fragment URL" class="form-control ">
             <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="main-content">
    <section id="player-sect">
        <% if (videoInfo) { %>
        <h1 id="video-title" class="title"><%= videoInfo.title %></h1>
        <% } %>

        <div id="player-container" class="clearfix">
            <div id="video"></div>
        </div>
        <% if (videoInfo) { %>
        <div id="video-info">
            <div class="stats-cont">
                <div class="left-col">
                    <%
                        var leftVals = {
                            'Published': videoInfo.published,
                            'Category': videoInfo.category
                        };

                            for(key in leftVals) {
                        var value = leftVals [key];
                        if (value == undefined || value == null) continue;
                    %>
                    <div class="stat">
                        <label class="key"><%= key %></label>
                        <span class="value"><%= value %></span>
                    </div>
                    <% } %>
                </div>
                <div class="right-col">
                    <%
                        var rightVals = {
                            'Views': {obj: videoInfo.views, gliph: 'eye-open'},
                            'Likes': {obj: videoInfo.likes, gliph: 'thumbs-up'},
                            'Favourites': {obj: videoInfo.favourites, gliph: 'star'},
                            'AVG Rating': {obj: videoInfo.avgRate, gliph: 'signal'}
                        };

                            for(key in rightVals) {
                        var value = rightVals [key].obj;
                        if (value == undefined || value == null) continue;
                    %>
                    <div class="stat little">
                        <span class="key glyphicon glyphicon-<%= rightVals [key].gliph %>"
                              title="<%= key %>"></span>
                        <span class="value"><%= value %></span>
                    </div>
                    <% } %>
                </div>
            </div>
            <% if(videoInfo.descr) { %>
            <div class="descr-cont" id="descr-cont">
                <% include partials/descr_partial.ejs %>
                <button type="button" class="see-all" for="descr">see more</button>
            </div>
            <% } %>

            <form method="get" action="./video" data-action="./nerdify" class="nerdify button-cont"
                  <% if(enriched) { %>style="display: none"
                    <% } %>
                    >
                <input type="hidden" name="vendor" value="<%= videoInfo.vendor %>"/>
                <input type="hidden" name="videoid" value="<%= videoInfo.video_id %>"/>
                <input type="hidden" name="uri" value="<%= videoURI %>"/>
                <input type="hidden" name="enriched" value="true"/>
                <button type="submit" class="btn btn-danger btn-lg">Nerdify</button>
            </form>

            <% if(videoInfo.timedtext) { %>
            <div id="sub-cont">
                <% include partials/sub_partial.ejs %>
            </div>
            <% } %>
        </div>
        <% } %>
    </section>
    <section id="playlist-sect">
        <% include partials/playlist.ejs %>

        <% if (enriched && videoInfo.entities) { %>
        <% include partials/entitiesList_partial.ejs %>
        <% } %>
    </section>


</div>
<script>
    var video = {
        uri: "<%= videoURI %>",
        id: "<%= videoInfo && videoInfo.video_id %>",
        vendor: "<%= videoInfo && videoInfo.vendor %>"
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/sfmplayer/mediaelement-and-player.js"></script>
<script src="/js/sfmplayer/dep/jquery.url.js"></script>
<script src="/js/sfmplayer/dep/mediafragments.js"></script>
<script src="/js/sfmplayer/synote.multimedia.namespace.js"></script>
<script src="/js/sfmplayer/synote.multimedia.utils.js"></script>
<script src="/js/sfmplayer/synotemfplayer.js"></script>
<script src="/js/MFPlayerDemo.js"></script>

</body>
</html>