<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Media Fragment Player Demo</title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">


    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/smfplayer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>
<body>

<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">
                <span class="top-brand">
                   <img class="left-mark" src="/img/logos/left_mark.png">
                   <img class="logo-text" src="/img/logos/hTedLogo_big_text.png">
                   <img class="right-mark" src="/img/logos/right_mark.png">
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/video" id="video-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="uri" type="url" placeholder="Insert a Media Fragment URL" class="form-control ">
             <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-placeholder"></nav>
<section id="player-sect">
    <div id="player-container" class="clearfix">
        <div id="video"></div>
    </div>

    <% if (videoInfo & videoInfo.title) { %>
    <div class="info-on-player">
        <h1 id="video-title" class="title"><%= videoInfo.title %></h1>
    </div>
    <% } %>

</section>

<!--<div class="main-content">

    <% if (videoInfo) { %>
    <div id="video-info">
        <div class="stats-cont">
            <div class="left-col">
                <%
    var leftVals = {
        'Published': videoInfo.published,
        'Category': videoInfo.category
    };

        for(key in leftVals) {
    var value = leftVals [key];
    if (value == undefined || value == null) continue;
%>
                <div class="stat">
                    <label class="key"><%= key %></label>
                    <span class="value"><%= value %></span>
                </div>
                <% } %>
            </div>
            <div class="right-col">
                <%
    var rightVals = {
        'Views': {obj: videoInfo.views, gliph: 'eye-open'},
        'Likes': {obj: videoInfo.likes, gliph: 'thumbs-up'},
        'Favourites': {obj: videoInfo.favourites, gliph: 'star'},
        'AVG Rating': {obj: videoInfo.avgRate, gliph: 'signal'}
    };

        for(key in rightVals) {
    var value = rightVals [key].obj;
    if (value == undefined || value == null) continue;
%>
                <div class="stat little">
                        <span class="key glyphicon glyphicon-<%= rightVals [key].gliph %>"
                              title="<%= key %>"></span>
                    <span class="value"><%= value %></span>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>-->
<% if (videoInfo) { %>
<% if (videoInfo.chapters) {%>
<div id="related-frags">
            <% include partials/chapter.ejs %>
</div>
<% } %>

<div class="nerdificable">
    <div class="container-fluid">

        <div class="row">
            <% if(videoInfo.timedtext) { %>
            <div class="col-md-7 col-lg-7">
                <div id="sub-cont">
                    <% include partials/sub_partial.ejs %>
                </div>

                <form method="get" action="/video" data-action="/nerdify" class="nerdify button-cont"
                      <% if(enriched) { %>style="display: none"
                        <% } %>
                        >
                    <input type="hidden" name="vendor" value="<%= videoInfo.vendor %>"/>
                    <input type="hidden" name="videoid" value="<%= videoInfo.video_id %>"/>
                    <input type="hidden" name="uri" value="<%= videoURI %>"/>
                    <input type="hidden" name="enriched" value="true"/>
                    <button type="submit" class="btn btn-danger btn-block">Nerdify</button>
                </form>
            </div>
            <% } %>

            <div class="col-md-5 col-lg-5">
                <% include partials/playlist.ejs %>
            </div>


        </div>

        <% } %>

        <div class="row">

            <div class="col-md-7 col-lg-7">
                <div id="ent_append"></div>
                <% if (enriched && videoInfo.entities) { %>
                <% include partials/entitiesList_partial.ejs %>
                <% } %>
            </div>

            <% if(videoInfo.descr) { %>
            <div class="descr-cont <% if(videoInfo.timedtext) { %>col-md-5 col-lg-5<% } %>" id="descr-cont">
                <% include partials/descr_partial.ejs %>
                <button type="button" class="see-all" for="descr">see more</button>
            </div>
            <% } %>

        </div>
    </div>
</div>

<% } %>




<script>
    var video = {
        uri: "<%= videoURI %>",
        id: "<%= videoInfo && videoInfo.video_id %>",
        vendor: "<%= videoInfo && videoInfo.vendor %>"
    };
    <% if (videoInfo && videoInfo.chapters) {%>
    var chapter = <%- JSON.stringify(videoInfo.chapters) %>;
    <%}%>
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/sfmplayer/mediaelement-and-player.js"></script>
<script src="/js/sfmplayer/dep/jquery.url.js"></script>
<script src="/js/sfmplayer/dep/mediafragments.js"></script>
<script src="/js/sfmplayer/synote.multimedia.namespace.js"></script>
<script src="/js/sfmplayer/synote.multimedia.utils.js"></script>
<script src="/js/sfmplayer/synotemfplayer.js"></script>
<script src="/js/MFPlayerDemo.js"></script>

<footer class="video_footer">
    <div class="foo">
        <div class="foo-line"><hr class="red_rule"></div>

        <div class="eurecomLogo"><img src="../img/logos/eurecom_logo.png"/></div>
        <div class="mediamixerLogo"><img src="../img/logos/mediamixer_logo.png"/></div>
    </div>
</footer>


</body>


</html>