<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF8">
    <% var metadata = locals.metadata || false %>
    <% var pageTitle = (metadata && locals.metadata.title) ? locals.metadata.title + '|HyperTED' : 'HyperTED'; %>
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->

    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/smfplayer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>
<body>
<% include partials/header.ejs %>
<section id="player-sect">
    <div id="player-container" class="clearfix">
        <div id="video"></div>
        <% if (locals.timedtext) { %>
        <div id="hotspots-cont">
            <% include partials/hotspots.ejs %>
        </div>
        <% } %>
    </div>

    <% if (locals.metadata && metadata.title) { %>
    <div class="info-on-player">
        <div class="info-sx">
            <div>
                <h1 id="video-title" class="title"><%= metadata.title %></h1>
            </div>
            <% if (locals.metadata) {
                var leftVals = {
                    'Published': metadata.published.substring(0, 10),
                    'Event': metadata.event,
                    'Category': metadata.category,
                    'Views': metadata.views,
                    'Likes': metadata.likes,
                    'Comments': metadata.comments
                };



                    for(key in leftVals) {
                var value = leftVals [key];
                if (value == undefined || value == null) continue;
            %>
            <div class="stat sx">
                <label class="key"><%= key %></label>
                <h5 class="value" class="title"><%= value %></h5>

            </div>
            <% } } %>
        </div>


    </div>
    <% } %>
</section>


<div id="video-info-chapters">

    <% if (locals.chapters) { %>
    <% include partials/chapter.ejs %>
    <% }
            if(locals.metadata && metadata.title) { %>
    <div class="play-video-info clearfix">
        <div class="left">
            <% if(locals.rdfUrl){ %>
            <a class="rdf-link" href="<%= locals.rdfUrl %>" title="rdf" target="_blank">
                <img src="/img/rdf-30_plain.png" height="30"></a>
            <% } %>
            <% if(metadata.published) { %>
            <h5 class="video-info">published on <%= metadata.published.substring(0, 10) %>
                <% }if(metadata.event) { %>
                <span> from <%= metadata.event %></span></h5>
            <% } %>
            <h3 class="video-info"><%= metadata.title %></h3>
        </div>
        <% if(locals.metadata && metadata.descr) { %>
        <div class="right"><p class="descr"><%- metadata.descr %></p></div>

        <% } %>
    </div>
    <% } %>
</div>


<div class="nerdificable">
    <% if(locals.error){ %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
                        <hr class="red_rule">
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        <h1 class="title">subtitles</h1>
                    </div>
                </div>

                <% if(locals.subtitles) { %>
                <section id="sub-cont">
                    <% include partials/sub_partial.ejs %>
                </section>


                <form method="get" action="/video/<%= uuid %>" data-action="/nerdify" class="nerdify button-cont">
                    <input type="hidden" name="uuid" value="<%= uuid %>"/>
                    <!--<input type="hidden" name="enriched" value="true"/>-->

                    <div class="nerdFormContent clearfix">
                        <p>choose your extractor</p>

                        <div class="nerdForm nerdSelect">
                            <select class="form-control" name="enriched">
                                <%
                                    var sel = locals.enriched || "";

                                    var exts = {
                                        "alchemyapi": "AlchemyAPI",
                                        "datatxt": "DataTXT",
                                        "dbspotlight": "DBpedia Spotlight",
                                        "lupedia": "Lupedia",
                                        "opencalais": "OpenCalais",
                                        "saplo": "Saplo",
                                        "textrazor": "TextRazor",
                                        "thd": "THD",
                                        "wikimeta": "Wikimeta",
                                        "yahoo": "Yahoo!",
                                        "zemanta": "Zemanta",
                                        "combined": "NERD"
                                    }

                                        for (var k in exts){
                                        if (exts.hasOwnProperty(k)) {
                                    var s = k == sel ? " selected" : "";
                                %>
                                <option value="<%= k %>"<%= s %>><%= exts[k] %></option>
                                <% }} %>
                            </select>
                        </div>
                        <div class="nerdForm nerdBtn">
                            <button type="submit" class="btn btn-danger btn-block">Nerdify</button>
                        </div>

                    </div>
                </form>

                <% }else{ %>

                <h1 class="noCont text-center">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    no subtitles for this video
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </h1>
                <% } %>

            </div>

            <% if(locals.subtitles) { %>
            <div class="col-md-5 col-lg-5">
                <a id="recommend" class="btn btn-danger btn-block recommend_btn"><h4>RECOMMEND FRAGMENTS</br> AND
                        COURSES</h4></a>

                <div class="see-also">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-5">
                                <hr class="red_rule">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-5">
                                <h1 class="title">watch also</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                                <div id="playlist-sect">
                                    <p class="invite">click on Nerdify for having suggestion about related chapters</p>

                                    <p class="loading">
                                        <img src="\img\ajax-loader.gif">
                                        loading suggested chapters
                                        <img src="\img\ajax-loader.gif">
                                    </p>

                                    <p class="no_ent">this chapter has no entity. </br>Please, choose another one</p>

                                    <% include partials/playlist.ejs %>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="suggested-courses"></div>
            </div>
            <% } %>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <% include partials/entitiesList_partial.ejs %>
            </div>
        </div>
    </div>
</div>

<footer class="video_footer">
    <div class="foo">
        <div class="foo-line">
            <hr class="red_rule">
        </div>

        <a href="http://www.eurecom.fr" title="Eurecom" class="eurecomLogo"><img
                    src="../img/logos/eurecom_logo.png"/></a>
        <a href="http://www.mediamixer.eu/" title="Media Mixer" class="mediamixerLogo"><img
                    src="../img/logos/mediamixer_logo.png"/></a>
    </div>
</footer>

<script>
    var entitiesL;
    <%if(locals.enriched && locals.entities){ %>
    entitiesL = <%- JSON.stringify(entities)%>

            <%}else{%>
            entitiesL = "";
    <%}%>
    var video = {
        uri: "<%= videoURI %>",
        uuid: "<%= uuid %>",
        entitiesL: entitiesL
    };

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
<script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

<script src="/js/sfmplayer/mediaelement-and-player.js"></script>
<script src="/js/sfmplayer/dep/jquery.url.js"></script>
<script src="/js/sfmplayer/dep/mediafragments.js"></script>
<script src="/js/sfmplayer/synote.multimedia.namespace.js"></script>
<script src="/js/sfmplayer/synote.multimedia.utils.js"></script>
<script src="/js/sfmplayer/synotemfplayer.js"></script>
<script src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
<script src="/js/MFPlayerDemo.js"></script>

<script type="text/html" id="course">
    <li class="course">
        <h4 class="title">
            <a data-href="url" target="_blank"><img data-src="thumb" data-alt="title"/></a>
            <a data-href="url" class="name" data-content="title" target="_blank"></a>
        </h4>
    </li>
</script>

<script type="text/html" id="courseList">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-5">
            <hr class="red_rule">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-7">
            <h1 class="title">learn also</h1>
        </div>
    </div>
    <div>
        <p class="invite">generate hotspots for having suggestion about courses</p>

        <p class="loading">
            <img src="\img\ajax-loader.gif">
            loading suggested courses
            <img src="\img\ajax-loader.gif">
        </p>
        <ul class="courses-list" id="courses-list">
        </ul>
    </div>
</script>


</body>


</html>