<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF8">
    <% var metadata = locals.metadata || false %>
    <% var pageTitle = (metadata && locals.metadata.title) ? locals.metadata.title + '|HyperTED' : 'HyperTED'; %>
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">


    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/smfplayer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.qtip.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>
<body>

<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">
                <span class="top-brand">
                   <img class="left-mark" src="/img/logos/left_mark.png">
                   <img class="logo-text" src="/img/logos/hTedLogo_big_text.png">
                   <img class="right-mark" src="/img/logos/right_mark.png">
                </span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/video" id="video-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="uri" type="url" placeholder="Insert a Media Fragment URL" class="form-control ">
             <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->

    </div>
    <!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-placeholder"></nav>
<section id="player-sect">
    <div id="player-container" class="clearfix">
        <div id="video"></div>
        <% if (locals.timedtext) { %>
        <div id="hotspots-cont">
            <% include partials/hotspots.ejs %>
        </div>
        <% } %>
    </div>

    <% if (locals.metadata && metadata.title) { %>
    <div class="info-on-player">
        <div class="info-sx">
            <div>
                <h1 id="video-title" class="title"><%= metadata.title %></h1>
            </div>
            <% if (locals.metadata) {
                var leftVals = {
                    'Published': metadata.published.substring(0, 10),
                    'Event': metadata.event,
                    'Category': metadata.category,
                    'Views': metadata.views,
                    'Likes': metadata.likes,
                    'Comments': metadata.comments
                };



                    for(key in leftVals) {
                var value = leftVals [key];
                if (value == undefined || value == null) continue;
            %>
            <div class="stat sx">
                <label class="key"><%= key %></label>
                <h5 class="value" class="title"><%= value %></h5>

            </div>
            <% } } %>
        </div>


    </div>
    <% } %>
</section>


<div id="video-info-chapters">

    <% if (locals.chapters) { %>
    <% include partials/chapter.ejs %>
    <% }
            if(locals.metadata && metadata.title) { %>
    <div class="play-video-info clearfix">
        <div class="left">
            <% if(metadata.published) { %>
            <h5 class="video-info">published on <%= metadata.published.substring(0, 10) %>
                <% }if(metadata.event) { %>
                <span> from <%= metadata.event %></span></h5>
            <% } %>
            <h3 class="video-info"><%= metadata.title %></h3>
        </div>
        <% if(locals.metadata && metadata.descr) { %>
        <div class="right"><p class="descr"><%= metadata.descr %></p></div>

        <% } %>
    </div>
    <% } %>
</div>


<div class="nerdificable">
    <% if(locals.error){ %>
    <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
                        <hr class="red_rule">
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5">
                        <h1 class="title">subtitles</h1>
                    </div>
                </div>

                <% if(locals.subtitles) { %>
                <section id="sub-cont">
                    <% include partials/sub_partial.ejs %>
                </section>


                <form method="get" action="/video/<%= uuid %>" data-action="/nerdify" class="nerdify button-cont">
                    <input type="hidden" name="uuid" value="<%= uuid %>"/>
                    <!--<input type="hidden" name="enriched" value="true"/>-->

                    <div class="nerdFormContent clearfix">
                        <p>choose your extractor</p>

                        <div class="nerdForm nerdSelect">
                            <select class="form-control" name="enriched">
                                <%
                                    var sel = locals.enriched || "";

                                    var exts = {
                                        "alchemyapi": "AlchemyAPI",
                                        "datatxt": "DataTXT",
                                        "dbspotlight": "DBpedia Spotlight",
                                        "lupedia": "Lupedia",
                                        "opencalais": "OpenCalais",
                                        "saplo": "Saplo",
                                        "textrazor": "TextRazor",
                                        "thd": "THD",
                                        "wikimeta": "Wikimeta",
                                        "yahoo": "Yahoo!",
                                        "zemanta": "Zemanta",
                                        "combined": "NERD"
                                    }

                                        for (var k in exts){
                                        if (exts.hasOwnProperty(k)) {
                                    var s = k == sel ? " selected" : "";
                                %>
                                <option value="<%= k %>"<%= s %>><%= exts[k] %></option>
                                <% }} %>
                            </select>
                        </div>
                        <div class="nerdForm nerdBtn">
                            <button type="submit" class="btn btn-danger btn-block">Nerdify</button>

                        </div>

                    </div>
                </form>

                <% }else{ %>

                <h1 class="noCont text-center">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    no subtitles for this video
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </h1>
                <% } %>

            </div>

            <div class="col-md-5 col-lg-5">
                <% include partials/playlist.ejs %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <% include partials/entitiesList_partial.ejs %>
            </div>
        </div>
    </div>
</div>

<footer class="video_footer">
    <div class="foo">
        <div class="foo-line">
            <hr class="red_rule">
        </div>

        <a href="http://www.eurecom.fr" title="Eurecom" class="eurecomLogo"><img
                    src="../img/logos/eurecom_logo.png"/></a>
        <a href="http://www.mediamixer.eu/" title="Media Mixer" class="mediamixerLogo"><img
                    src="../img/logos/mediamixer_logo.png"/></a>
    </div>
</footer>

<script>
    var entitiesL;
    <%if(locals.enriched && locals.entities){ %>
    entitiesL = <%- JSON.stringify(entities)%>

            <%}else{%>
            entitiesL = "";
    <%}%>
    var video = {
        uri: "<%= videoURI %>",
        uuid: "<%= uuid %>",
        entitiesL: entitiesL
    };

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
<script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

<script src="/js/sfmplayer/mediaelement-and-player.js"></script>
<script src="/js/sfmplayer/dep/jquery.url.js"></script>
<script src="/js/sfmplayer/dep/mediafragments.js"></script>
<script src="/js/sfmplayer/synote.multimedia.namespace.js"></script>
<script src="/js/sfmplayer/synote.multimedia.utils.js"></script>
<script src="/js/sfmplayer/synotemfplayer.js"></script>
<script src="/js/jquery.loadTemplate-1.4.4.min.js"></script>
<script src="/js/MFPlayerDemo.js"></script>


</body>


</html>