<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Media Fragment Player Demo</title>
    <link rel="icon" type="image/png" href="/img/favicons/favicon_48.png">
    <!--[if IE]>
    <link rel="shortcut icon" href="/img/favicons/favicon.ico"/><![endif]-->
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">


    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/mediaelementplayer.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/sfmplayer/smfplayer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/MFstyle.css"/>
</head>

<body>
<nav class="navbar" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a class="navbar-brand" href="/">Media Fragment Enricher</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-right" method="get" action="/video" id="video-search" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input name="uri" type="url" placeholder="Insert a Media Fragment URL" class="form-control ">
             <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
             </span>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<section id="player-sect">
    <div id="player-container" class="clearfix">
        <div id="video"></div>
    </div>

    <% if (videoInfo) { %>
    <div class="info-on-player">
        <h1 id="video-title" class="title"><%= videoInfo.title %></h1>
    </div>
    <% } %>

</section>

<div class="main-content">

    <% if (videoInfo) { %>
    <div id="video-info">
        <div class="stats-cont">
            <div class="left-col">
                <%
                    var leftVals = {
                        'Published': videoInfo.published,
                        'Category': videoInfo.category
                    };

                        for(key in leftVals) {
                    var value = leftVals [key];
                    if (value == undefined || value == null) continue;
                %>
                <div class="stat">
                    <label class="key"><%= key %></label>
                    <span class="value"><%= value %></span>
                </div>
                <% } %>
            </div>
            <div class="right-col">
                <%
                    var rightVals = {
                        'Views': {obj: videoInfo.views, gliph: 'eye-open'},
                        'Likes': {obj: videoInfo.likes, gliph: 'thumbs-up'},
                        'Favourites': {obj: videoInfo.favourites, gliph: 'star'},
                        'AVG Rating': {obj: videoInfo.avgRate, gliph: 'signal'}
                    };

                        for(key in rightVals) {
                    var value = rightVals [key].obj;
                    if (value == undefined || value == null) continue;
                %>
                <div class="stat little">
                        <span class="key glyphicon glyphicon-<%= rightVals [key].gliph %>"
                              title="<%= key %>"></span>
                    <span class="value"><%= value %></span>
                </div>
                <% } %>
            </div>
        </div>
        <% if(videoInfo.descr) { %>
        <div class="descr-cont" id="descr-cont">
            <% include partials/descr_partial.ejs %>
            <button type="button" class="see-all" for="descr">see more</button>
        </div>
        <% } %>

            <form method="get" action="/video" data-action="/nerdify" class="nerdify button-cont"
                  <% if(enriched) { %>style="display: none"
                    <% } %>
                    >
                <input type="hidden" name="vendor" value="<%= videoInfo.vendor %>"/>
                <input type="hidden" name="videoid" value="<%= videoInfo.video_id %>"/>
                <input type="hidden" name="uri" value="<%= videoURI %>"/>
                <input type="hidden" name="enriched" value="true"/>
                <button type="submit" class="btn btn-danger btn-lg">Nerdify</button>
            </form>

        <% if(videoInfo.timedtext) { %>
        <div id="sub-cont">
            <% include partials/sub_partial.ejs %>
        </div>
        <% } %>
    </div>
    <% } %>
    <section id="playlist-sect">
        <h1 class="title">see also</h1>
        <ul class="video-list">
            <li class="video-link" data-url="http://www.youtube.com/watch?v=86x-u-tz0MA">
                <img class="loader" src="img/ajax-loader.gif">

                <div class="content">
                    <h4><a href="./video?uri=http://www.youtube.com/watch?v=86x-u-tz0MA">Video 1</a></h4>
                    <a class="thumb-cont" href="./video?uri=http://www.youtube.com/watch?v=86x-u-tz0MA"></a>
                    <ul class="frag-list">
                        <li class="frag-link"><a href='#' data-frag="#t=0:03:08,0:04:05">About writers reputation <br/>(0:03:08
                                - 0:04:05)</a></li>
                        <li class="frag-link"><a href='#' data-frag="#t=0:10:11,0:11:43&xywh=pixel:160,95,319,305">Ruth
                                Stone's creative process <br/>(0:10:11 - 0:11:43)</a></li>
                    </ul>
                </div>
            </li>
            <li class="video-link" data-url="http://www.youtube.com/watch?v=GqnJFm1C-3c">
                <img class="loader" src="img/ajax-loader.gif">

                <div class="content">
                    <h4><a href="./video?uri=http://www.youtube.com/watch?v=GqnJFm1C-3c">Video 2</a></h4>
                    <a class="thumb-cont" href="./video?uri=http://www.youtube.com/watch?v=GqnJFm1C-3c"></a>
                    <ul class="frag-list">
                        <li class="frag-link"><a href='#' data-frag="#t=0:00:23,0:00:49">Middle East loves to laugh<br/>(0:00:23
                                - 0:00:49)</a></li>
                        <li class="frag-link"><a href='#' data-frag="#t=0:07:32,0:08:08">Three questions<br/>(0:07:32 -
                                0:08:08)</a></li>
                    </ul>
                </div>
            </li>
            <li class="video-link" data-url="http://www.youtube.com/watch?v=xjBIsp8mS-c">
                <img class="loader" src="img/ajax-loader.gif">

                <div class="content">
                    <h4><a href="./video?uri=http://www.youtube.com/watch?v=xjBIsp8mS-c">Video 3</a></h4>
                    <a class="thumb-cont" href="./video?uri=http://www.youtube.com/watch?v=xjBIsp8mS-c"></a>
                    <ul class="frag-list">
                        <li class="frag-link"><a href='#' data-frag="#t=0:05:20,0:05:32">How did the universe
                                begin?<br/>(0:05:20 - 0:05:32)</a></li>
                        <li class="frag-link"><a href='#' data-frag="#t=0:09:10,0:10:12">Fragment to the end<br/>(0:09:10
                                - end)</a></li>
                    </ul>
                </div>
            </li>
            <li class="video-link" data-url="http://www.youtube.com/watch?v=CDsNZJTWw0w">
                <img class="loader" src="img/ajax-loader.gif">

                <div class="content">
                    <h4><a href="./video?uri=http://www.youtube.com/watch?v=CDsNZJTWw0w">Video 3</a></h4>
                    <a class="thumb-cont" href="./video?uri=http://www.youtube.com/watch?v=CDsNZJTWw0w"></a>
                    <ul class="frag-list">
                        <li class="frag-link"><a href='#' data-frag="#t=0:01:42,0:03:49">Herr's experience<br/>(0:01:42,0:03:49)</a>
                        </li>
                        <li class="frag-link"><a href='#' data-frag="#t=0:14:55,0:15:59">On the dance floor<br/>(0:14:55,0:15:59)</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <% if (enriched && videoInfo.entities) { %>
        <% include partials/entitiesList_partial.ejs %>
        <% } %>
    </section>


</div>
<script>
    var video = {
        uri: "<%= videoURI %>",
        id: "<%= videoInfo && videoInfo.video_id %>",
        vendor: "<%= videoInfo && videoInfo.vendor %>"
    }
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/sfmplayer/mediaelement-and-player.js"></script>
<script src="/js/sfmplayer/dep/jquery.url.js"></script>
<script src="/js/sfmplayer/dep/mediafragments.js"></script>
<script src="/js/sfmplayer/synote.multimedia.namespace.js"></script>
<script src="/js/sfmplayer/synote.multimedia.utils.js"></script>
<script src="/js/sfmplayer/synotemfplayer.js"></script>
<script src="/js/MFPlayerDemo.js"></script>

</body>
</html>